*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.landing-page{
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}
.landing-page::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  opacity: .3;
  animation: ;
}
@keyframes anim {
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}
.page-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
  width: 100%;
  max-width: 800px;
  text-align: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.page-content h1{
  color: #ff7979;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 20px;
}
.page-content p{
  color: #fff;
  margin-bottom: 20px;
}
.page-content a{
  display: inline-block;
  text-decoration: none;
  color: #ff7979;
  border: 2px solid #ff7979;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}
.page-content a:hover{
  color: #fff;
  background: #ff7979;
}
.text{
  padding: 10px;
  text-align: justify;
}
.text div{
  margin-bottom: 6px;
}
        body, html {
            0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        .redirect-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
        }
        .redirect-message {
            font-size: 48px;
            20px;
        }
        .countdown {
            font-size: 48px;
            20px;
        }
        .continue-button {
            display: none;
            padding: 10px 20px;
            font-size: 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            background-image: linear-gradient(to bottom, #4CAF50, #0E8DFF);
            box-shadow: 0 5px #3e8e41;
        }
        .continue-button:hover {
            background-image: linear-gradient(to bottom, #0E8DFF, #4CAF50);
        }
        .continue-button:active {
            box-shadow: 0 2px #3e8e41;
            transform: translateY(2px);
        }
		body {
	background-image: url('video/ac.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}